#whole{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

#board{
    width:60%
    float:left
}

#info{
    width:40%
    float:left
}

#text-info{

}

.row{
    clear:both;

}

.square{
    width:50px;
    height:50px;
    border: 1px solid #000000;
    float:left;
}

.missed{
    background-color: blue;
}

.attacked{
    background-color:red;
}

button{

}